{% extends 'common.html' %} {% load static %} {% block content %} <br />

<h2>About Us</h2>
<img
  src="{% static '/images/image (Large).jpg' %}"
  alt="College"
  style="display: block; margin: auto"
/>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque odit corporis
  ipsam rem, aliquid earum expedita accusamus necessitatibus nam omnis, impedit
  quibusdam quisquam sequi velit! Tenetur molestias facilis eum obcaecati?Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Saepe porro suscipit
  similique, magnam eum sunt est voluptatem ea sequi deserunt aperiam possimus
  ex architecto, odit doloremque, placeat delectus unde explicabo. Quod repellat
  magni tempore in, cupiditate magnam vero natus fuga consectetur molestiae quo
  ex praesentium amet doloribus repellendus officia reprehenderit at dolorum
  voluptates quam saepe? Sunt odio nemo rem. Harum. Laudantium rerum voluptates
  ratione asperiores adipisci illum molestiae id reiciendis soluta reprehenderit
  tenetur quidem, dolorum quis dolor, corporis error atque nesciunt nemo
  perspiciatis odio minus in est perferendis laboriosam? Placeat! Temporibus
  exercitationem fugiat tenetur aliquam blanditiis quo consequuntur omnis non
  nam ratione, quod, nulla delectus commodi facilis eveniet vitae illo! Tempore
  rerum numquam iure commodi sit corporis unde sed rem? Cupiditate dignissimos
  cumque in error, laborum minima atque assumenda illo, laudantium neque
  praesentium placeat! Expedita libero corrupti quo minima labore eveniet
  laborum. Alias voluptatibus tenetur doloremque harum quasi deleniti veritatis!
  Error officia corporis ratione assumenda reiciendis explicabo, delectus, nemo
  ipsum odio voluptas odit quos, laudantium fugit soluta in dolores ipsa
  asperiores? Cum eius nobis voluptatem similique quas, minima alias asperiores.
  In libero error, ab voluptas beatae ad id veniam placeat, corporis itaque
  reiciendis voluptatem delectus earum dolor? Tenetur quas obcaecati pariatur
  numquam illum illo optio libero aliquid animi, laboriosam voluptas? Ab
  aspernatur vel quidem eligendi unde sequi placeat quam quos nostrum
  consequuntur, dolorem, ea quia officia necessitatibus eveniet vitae reiciendis
  aliquid adipisci perferendis cumque eos odit esse ad iusto! Corporis! Soluta
  maxime eaque quae quidem aperiam nostrum incidunt dignissimos molestiae enim
  cum aut, eveniet minus perspiciatis iste. Minima, facere libero nostrum
  placeat deleniti assumenda nulla, odio necessitatibus illum qui ducimus!
  Incidunt libero maxime assumenda minus doloribus consectetur deserunt dicta
  reprehenderit, magnam neque accusamus a! Odio eligendi delectus laboriosam
  esse, alias nam dolorum iusto explicabo ullam fuga ipsum nostrum consequatur
  autem? Commodi iste architecto repellendus laboriosam cum deleniti facilis
  odit et qui accusamus.
</p>

{% endblock %}
